.hero {
  position: relative;
  height: 70vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, #000, transparent);
}
.hero__content {
  position: relative;
  z-index: 2;
  max-width: 500px;
}
.hero__title {
  font-size: 3rem;
  margin-bottom: 20px;
}
.hero__description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 30px;
}
.hero__buttons .hero__button {
  padding: 10px 20px;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.hero__button--play {
  color: #000;
}
.hero__button--more {
  color: #fff;
}