/* src/pages/MoviePage.css */
.movie-page-container {
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 120px 50px 50px 50px;
  color: #fff;
}

.movie-page-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.movie-details-card {
  position: relative;
  z-index: 2;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.movie-page-title {
  font-size: 3rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.movie-page-overview {
  font-size: 1.2rem;
  line-height: 1.5;
}

.movie-page-meta {
  font-size: 1rem;
  color: #ccc;
}

.watch-button {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.watch-button:hover {
  background-color: #ff000d;
}

/* Modal e Player */
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-player {
  position: relative;
  width: 80vw;
  max-width: 800px;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}